@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Yanone+Kaffeesatz:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0 auto;
  width: 1200px;
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  margin-top: 15px;
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  justify-content: center;
}

.header-top {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 40% 20%;
  grid-column-gap: 10%;
}
.header-top-publicity1 {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: flex-end;
}

.publicity1-banner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: flex-end;
}
.publicity1-banner-img {
  width: 80%;
  object-fit: contain;
}

.publicity1-texts {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.publicity1-texts-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Roboto Condensed", sans-serif;
}
.publicity1-texts-list1 {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  list-style: none;
}
.publicity1-texts-list1 li {
  padding-left: 3px;
  font-size: 11px;
  border-bottom: 1px solid #cfcecf;
  color: #9c9d9e;
  font-family: "Roboto Condensed", sans-serif;
}
.publicity1-texts-list1 li:after {
  content: " ·";
}
.publicity1-texts-list1 li:nth-child(3)::after {
  content: none;
}
.publicity1-texts-list2 {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: "Merriweather", serif;
}
.publicity1-texts-list2 li {
  padding-left: 3px;
  font-size: 8px;
}
.publicity1-texts-list2 li:after {
  content: "  -";
}
.publicity1-texts-list2 li:nth-child(3):after {
  content: none;
}

.header-top-titles {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #cfcecf;
  border-bottom: 1px solid #cfcecf;
}
.header-top-titles h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.header-top-titles-subtitles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top-titles-subtitles span {
  margin: 0 5px;
  font-size: 10px;
  color: #9c9d9e;
  font-family: "Roboto Condensed", sans-serif;
}
.header-top-titles-subtitles div {
  width: 30px;
  height: 50%;
  border-top: 1px solid #cfcecf;
  border-bottom: 1px solid #cfcecf;
}

.header-top-publicity2 {
  height: 80%;
  display: grid;
  justify-items: center;
  align-self: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "title title imgBox" "textLeft textRight imgBox";
}
.header-top-publicity2-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  font-size: 16px;
  font-family: regularFont;
}
.header-top-publicity2-textLeft {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  width: 100%;
  height: 100%;
  grid-area: textLeft;
  font-size: 14px;
  font-family: "Merriweather", serif;
  text-align: center;
  border-bottom: 1px solid #cfcecf;
}
.header-top-publicity2-textRight {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  height: 100%;
  padding: 0 10px;
  border-left: 1px solid #cfcecf;
  grid-area: textRight;
  font-size: 7px;
  font-family: "Merriweather", serif;
  border-bottom: 1px solid #cfcecf;
}
.header-top-publicity2-imgBox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  width: 100%;
  height: 100%;
  grid-area: imgBox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cfcecf;
}
.header-top-publicity2-imgBox img {
  width: 70%;
  object-fit: cover;
}

.header-movies {
  margin: 10px 0;
  height: 80%;
  display: flex;
  align-items: center;
  border-top: 2px solid #9c9d9e;
  border-bottom: 2px solid #9c9d9e;
}

.moviesList {
  width: 100%;
  height: 90%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fee5f4;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  list-style: none;
}
.moviesList-item {
  height: 70%;
  display: flex;
  padding: 0 10px;
  opacity: 0.8;
  border-right: 2px solid #9c9d9e;
}
.moviesList-item-name {
  font-size: 20px;
}
.moviesList-item-rating {
  height: 100%;
  margin-left: 2px;
  padding: 0 0 0 2px;
  display: inline-block;
  font-size: 20px;
  opacity: 0.7;
  background-color: #ffbada;
}
.moviesList-item-rating2 {
  padding-top: 5px;
  display: inline-block;
  height: 100%;
  opacity: 0.7;
  font-size: 15px;
  background-color: #ffbada;
}
.moviesList-item:nth-child(6) {
  border: none;
}

.header-sections {
  margin: 15px 0;
  height: 30px;
  width: 100%;
}

.newspaperSections {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  color: #9c9d9e;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}
.newspaperSections-imgBox {
  display: flex;
  align-items: center;
  width: 2%;
}
.newspaperSections-imgBox img {
  width: 100%;
}
.newspaperSections-title {
  letter-spacing: -1px;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 740px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
  grid-column-gap: 10px;
}

.relevants {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 44% 44% 10%;
}
.relevants-media {
  padding: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 70% 10%;
  grid-template-areas: "titleR imgR" "textR imgR" "buttonR imgR";
  border-top: 2px solid #9c9d9e;
  border-bottom: 2px solid #9c9d9e;
}
.relevants-media-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: -1px;
  font-family: "Roboto Condensed", sans-serif;
  grid-area: titleR;
}
.relevants-media-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  width: 95%;
  grid-area: textR;
  font-size: 11px;
  font-family: "Merriweather", serif;
  color: #9c9d9e;
}
.relevants-media-button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  width: 80%;
  border: none;
  background-color: transparent;
  margin: 10px 0;
  grid-area: buttonR;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: 600;
}
.relevants-media .relevants-media-imgBox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  width: 100%;
  height: 100%;
  grid-area: imgR;
}
.relevants-media .relevants-media-imgBox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.relevants-written {
  padding: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 30% 20%;
  grid-template-areas: "imgR2 textsR2" "textR2 textR2" "buttonR2 buttonR2";
}
.relevants-written-imgBox {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  width: 100%;
  height: 100%;
  grid-area: imgR2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relevants-written-imgBox img {
  height: 90%;
  object-fit: contain;
}
.relevants-written-texts {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: textsR2;
}
.relevants-written-texts-title1 {
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: -1px;
  font-family: "Roboto Condensed", sans-serif;
}
.relevants-written-texts-title2 {
  font-family: "Merriweather", serif;
  margin-left: 5px;
  font-weight: 300;
}
.relevants-written-texts-date {
  margin-top: 8px;
  display: block;
  color: #9c9d9e;
}
.relevants-written-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textR2;
  color: #9c9d9e;
}
.relevants-written-button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  width: 80%;
  border: none;
  background-color: transparent;
  margin: 10px 0;
  grid-area: buttonR2;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: 600;
}
.relevants-publicity {
  width: 100%;
}
.relevants-publicity img {
  width: 100%;
  object-fit: contain;
}

.headline {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid #9c9d9e;
}
.headline-imgBox {
  width: 100%;
  height: 50%;
}
.headline-imgBox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.headline-texts {
  padding: 10px;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headline-texts-caption {
  text-transform: uppercase;
  color: #9c9d9e;
}
.headline-texts-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9c9d9e;
  border-radius: 50%;
}
.headline-texts-button button {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: #ffbada;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline-texts-button button img {
  width: 60%;
}
.headline-title {
  margin: 10px 0;
  font-size: 30px;
}
.headline-text {
  margin: 0px 0;
  letter-spacing: 1px;
  color: #9c9d9e;
}
.headline-author {
  margin-top: 10px;
  width: 95%;
  height: 15%;
  display: grid;
  grid-template-columns: 20% 65% 10% 10%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "imgAuthor authorName autho auth" "imgAuthor authorDate authorIconPrev authorIconNext";
  align-items: center;
}
.headline-author-imgBox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  width: 100%;
  height: 100%;
  grid-area: imgAuthor;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline-author-imgBox img {
  height: 100%;
  object-fit: contain;
}
.headline-author-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  padding-top: 20px;
  grid-area: authorName;
  font-size: 22px;
  letter-spacing: -1px;
}
.headline-author-date {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  padding-bottom: 15px;
  grid-area: authorDate;
  color: #9c9d9e;
}
.headline-author-prev {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  width: 100%;
  height: 100%;
  border: none;
  grid-area: authorIconPrev;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline-author-prev img {
  width: 90%;
}
.headline-author-next {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  width: 100%;
  height: 100%;
  border: none;
  grid-area: authorIconNext;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline-author-next img {
  width: 86%;
}

.mostPopular {
  padding: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mostPopular-publicity {
  width: 100%;
  height: 20%;
  display: flex;
  background-color: #daf0fe;
  align-items: center;
  position: relative;
}
.mostPopular-publicity-texts {
  margin-left: 10px;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.mostPopular-publicity-texts-1 {
  font-size: 22px;
  font-weight: 600;
}
.mostPopular-publicity-texts-button {
  width: 120px;
  margin-top: 20px;
  height: 40px;
  background-color: transparent;
  letter-spacing: -1;
  font-size: 16px;
}
.mostPopular-publicity-imgBox {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
}
.mostPopular-publicity-imgBox img {
  margin-top: -15px;
  height: 110%;
  width: 100%;
  object-fit: cover;
}
.mostPopular-popularnews-container {
  margin: 10px 0;
  height: 60%;
}

.subscribe {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subscribe-title {
  margin: 5px 0;
  font-size: 20px;
}
.subscribe-text {
  font-size: 12px;
  color: #9c9d9e;
}
.subscribe input {
  margin: 20px 0;
  height: 40px;
  border: none;
  font-size: 14px;
  padding-left: 15px;
  border-top: 2px solid #cfcecf;
  border-bottom: 2px solid #cfcecf;
}
.subscribe-button {
  width: 100%;
  height: 50px;
  border: none;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

.popularnews {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffbada;
}
.popularnews-imgBox {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popularnews-imgBox img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.popularnews-title {
  margin-left: 15px;
  width: 55%;
}
.popularnews-title-1 {
  font-size: 18px;
  font-weight: 600;
}
.popularnews-title-2 {
  font-family: "Merriweather", serif;
}

.popularnews:nth-child(3) {
  border-bottom: none;
}