-var headerTitles = "hollywood factory"
-var headerDate = "March 24, 1976"
-var publicity1 = ["devy's public house","beers","bourbons","bread","Los Angeles","Montreal","NewYork"]
-var publicity1Img = ["../../images/img12.png", "devy's public house logo"]
-var publicity2Img = ["../../images/img11.png", "telephone logo"]
-var publicity2 = ["Telephone is here","$18.90","Los angeles", "Montreal"]
-var movies = ["d Luke","7.","2","Planet of the Aples","9.","1","The Godfather","9.","6","It's a Wonderful time","7.","5","The Third Man","6.","9","Dr. Strangelove","8.","9"]
-var headerSections = ["lastest","featured","automobiles","celebreties","hollywood directory","trending movies","book tickets","fans","books"]
-var headerSectionsImgs = ["../../images/img13.png","../../images/img15.png"]

//- main
-var relevants1Title ="the great Kate"
-var relevants1Text = "Shoot'em. Shoot'em. It's a better way to live! Check out Katharine Hepburn in rare crank form in this 1979 60 Minutes interview, waxing on aging, humanity, movies, and bores"
-var relevants1img = ["../../images/img1.png","Kate Hepburn picture"]
-var relevants2img = ["../../images/img2.png","Famous person picture"]
-var relevants2Title = ["Everyone in Old Hollywood was","on Acid", "March 20, 1966"]
-var relevants2Text  = "Before Scientology took hold, before they forgot their mantras, before the baby food diet, Vanity Fair reminds"
-var relevantsButtons = ["watch video", "read more"]
-var relevantsPublicityImg = ["../../images/img4.png","Publicity's Logo"]

-var headlineTitle = "Brunettes, Redheads Picket Does Gentlemen Prefer Blondes"
-var headlineCaption = "Trending"
-var headlineBtnIcon= ["../../images/img17.png", "share icon"]
-var headlineText = "But perhaps the most interesting component of the story is the proto-Feminine Mystique liberating power the drug held for many women. The community of discontented Hollywood wives..."
-var headlineAuthor = "Jinneuvile Martin Jose"
-var headlineDate = "March 12, 1966"
-var headlineImg = ["../../images/img3.png","trending photo"]
-var headlineAuthorImg = ["../../images/img6.png","reporter picture"]
-var headlineAuthorBtnIconPrev= ["../../images/img7.png", "previous icon"]
-var headlineAuthorBtnIconNext= ["../../images/img8.png", "next icon"]
mixin popularnews(image, imageName,title,title2)
  figure 
    img(src=image, alt=imageName)
  span #{title}
  span #{title2}