-var headerTitles = "hollywood factory"
-var headerDate = "March 24, 1976"
-var publicity1 = ["devy's public house","beers","bourbons","bread","Los Angeles","Montreal","NewYork"]
-var publicity1Img = ["../../images/img12.png", "devy's public house logo"]
-var publicity2Img = ["../../images/img11.png", "telephone logo"]
-var publicity2 = ["Telephone is here","$18.90","Los angeles", "Montreal"]
-var movies = ["d Luke","7.","2","Planet of the Aples","9.","1","The Godfather","9.","6","It's a Wonderful time","7.","5","The Third Man","6.","9","Dr. Strangelove","8.","9"]
-var headerSections = ["lastest","featured","automobiles","celebreties","hollywood directory","trending movies","book tickets","fans","books"]
-var headerSectionsImgs = ["../../images/img13.png","../../images/img15.png"]

