main
  section.relevants
    article.relevants-media
      h2
      p
      button
      figure
        img
    articule.relevant-written
      figure
        img(src="", alt="")
      div
        span
        span
        span
      p
      button
    div.relevants-publicity
  section.headlines
    figure
      img(src="", alt="")
    div
      h3
      button
    h1
    p
    div
      figure
        h3
        span
        button
        button
  section.mostpopular
    div
      span
      span
      button
      figure
        img(src="", alt="")
    +popularnews
    +popularnews
    +popularnews
    div
      h3
      span
      input(type="email", name="")
      button