$colorFont1: #000;
$colorFont2: #9c9d9e;
$bordercolor: #cfcecf;

$colorAlternativo: #fee5f4;
$colorAlternativo2: #ffbada;
$colorPublicity: #daf0fe;
$relevantsPublicity: "../../images/img4.png";

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Yanone+Kaffeesatz:wght@600&display=swap");

$titlesFont: "Roboto Condensed", sans-serif;
$menusfont: "Roboto Condensed", sans-serif;
$mainTitle: "Yanone Kaffeesatz", sans-serif;
$regularFont: "Merriweather", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  margin: 0 auto;
  width: 1000px;
  font-family: $titlesFont;
}
