@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Yanone+Kaffeesatz:wght@600&display=swap");

$colorFont1: #000;
$colorFont2: #9c9d9e;
$bordercolor: #cfcecf;
$colorclaro: #fff;
$coloroscuro: #000;

$colorAlternativo: #fee5f4;
$colorAlternativo2: #ffbada;
$colorPublicity: #daf0fe;

$titlesFont: "Roboto Condensed", sans-serif;
$menusfont: "Roboto Condensed", sans-serif;
$mainTitle: "Yanone Kaffeesatz", sans-serif;
$regularFont: "Merriweather", serif;

$relevantsPublicity: "../../images/img4.png";
$relevantsBtn1: "../../images/img16.png";

$headlineBtn1: "../../images/img17.png";
$headlineBtn2: "../../images/img7.png";
$headlineBtn3: "../../images/img8.png";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  margin: 0 auto;
  width: 1200px;
  font-family: $titlesFont;
}
