.headline {
  width: 100%;
  // height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid $colorFont2;
  &-imgBox {
    width: 100%;
    height: 50%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &-texts {
    padding: 10px;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-caption {
      text-transform: uppercase;
      color: $colorFont2;
    }
    &-button {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $colorFont2;
      border-radius: 50%;
      button {
        width: 18px;
        height: 18px;
        border: none;
        border-radius: 50%;
        background-color: $colorAlternativo2;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 60%;
        }
      }
    }
  }
  &-title {
    margin: 10px 0;
    font-size: 30px;
  }
  &-text {
    margin: 0px 0;
    letter-spacing: 1px;
    color: $colorFont2;
  }
  &-author {
    margin-top: 10px;
    width: 95%;
    height: 15%;
    display: grid;
    grid-template-columns: 20% 65% 10% 10%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "imgAuthor authorName autho auth" "imgAuthor authorDate authorIconPrev authorIconNext";
    align-items: center;
    &-imgBox {
      width: 100%;
      height: 100%;
      grid-area: imgAuthor;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
    &-name {
      padding-top: 20px;
      grid-area: authorName;
      font-size: 22px;
      letter-spacing: -1px;
    }
    &-date {
      padding-bottom: 15px;
      grid-area: authorDate;
      color: $colorFont2;
    }
    &-prev {
      width: 100%;
      height: 100%;
      border: none;
      grid-area: authorIconPrev;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 90%;
      }
    }
    &-next {
      width: 100%;
      height: 100%;
      border: none;
      grid-area: authorIconNext;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 86%;
      }
    }
  }
}
