.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 740px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
  grid-column-gap: 10px;
}
@import "./relevants.scss";
@import "./headline.scss";
@import "./popularNews.scss";
