.mostPopular {
  padding: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-publicity {
    width: 100%;
    height: 20%;
    display: flex;
    background-color: $colorPublicity;
    align-items: center;
    position: relative;
    &-texts {
      margin-left: 10px;
      height: 70%;
      display: flex;
      flex-direction: column;
      &-1 {
        font-size: 22px;
        font-weight: 600;
      }
      &-button {
        width: 120px;
        margin-top: 20px;
        height: 40px;
        background-color: transparent;
        letter-spacing: -1;
        font-size: 16px;
      }
    }
    &-imgBox {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40%;
      height: 100%;
      img {
        margin-top: -15px;
        height: 110%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &-popularnews-container {
    margin: 10px 0;
    height: 60%;
  }
}
.subscribe {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-title {
    margin: 5px 0;
    font-size: 20px;
  }
  &-text {
    font-size: 12px;
    color: $colorFont2;
  }
  input {
    margin: 20px 0;
    height: 40px;
    border: none;
    font-size: 14px;
    padding-left: 15px;
    border-top: 2px solid $bordercolor;
    border-bottom: 2px solid $bordercolor;
  }
  &-button {
    // margin-top: 10px;
    width: 100%;
    height: 50px;
    border: none;
    text-transform: uppercase;
    background-color: $coloroscuro;
    color: $colorclaro;
  }
}
//pug mixin
.popularnews {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $colorAlternativo2;
  &-imgBox {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }
  }
  &-title {
    margin-left: 15px;
    width: 55%;

    &-1 {
      font-size: 18px;
      font-weight: 600;
    }
    &-2 {
      font-family: $regularFont;
    }
  }
}
.popularnews:nth-child(3) {
  border-bottom: none;
}
