
<header class="header">
  <div class="header-top">
    <div class="header-top-publicity1">
      <figure><img src="" alt=""/></figure>
      <h3>devy's public house</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="header-top-titles">
      <figure><img src="" alt=""/></figure><span></span>
    </div>
    <div class="header-top-publicity2"><span></span><span></span><span></span>
      <figure><img src="" alt=""/></figure>
    </div>
  </div>
  <div class="header-movies">
    <ul>
      <li><span>movies[0]</span><span>movies[1]</span></li>
    </ul>
  </div>
  <div class="header-sections">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</header>